#h2-mech5{
    text-align: center;
    color: #dc77ed;
    text-shadow: 2px 2px 3px black;
}
.mech5{
    padding: 2vw;
}

.p1{
    line-height:120%;
    font-size: 1em;
    text-align:justify;
    color: white;
    text-indent: 20px;
}
#mechPic7{
    height: 39vh;
    width: 15vw;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.p-img7{
    color: #e4aded;
    text-align:center;
}