#h2-mech4{
    text-align: center;
    color: #aa71e3;
    text-shadow: 2px 2px 3px black;
}
.mech4{
    padding: 2vw;
}

.p1{
    line-height:120%;
    font-size: 1em;
    text-align:justify;
    color: white;
    text-indent: 20px;
}
