.article{
    width: 59vw;
    grid-area: article;
    border-left: #828282 solid 3px;
    border-right: #828282  solid 3px;
    border-bottom:  #828282 solid 3px;
    border-top: #828282 solid 3px;
    min-height: 120vh;
    background-color: #323232;
}

ul{
    color:white;
}


